# Core Django + WSGI server
Django
gunicorn
channels
channels-redis

# DB + Env config
mysqlclient
python-decouple

# Static/Media file storage
cloudinary
django-cloudinary-storage

# Security
bcrypt
argon2-cffi
cryptography

# HTTP utilities
requests
geopy

# Machine Learning
scikit-learn
pandas
numpy

whitenoise
psycopg2-binary
dj-database-url
python-dotenv
setuptools
wheel
channels